@import "main";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  // width: 100%;
  // margin: 0 auto;
  @include adaptiveValue("padding", 10, 2);
  width: 100%;
  // max-width: toRem(1650);
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include adaptiveValue("gap", 35, 16);
  font-weight: 550;

  @media (max-width: toEm(555)) {
    padding-top: 10px;
  }
  @media (max-width: toEm(377)) {
    gap: toRem(10);
  }
  &.scrolled {
    background-color: $bgLightDarc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}
.logo-title {
  max-width: toRem(115);
  flex-shrink: 0;
  line-height: 1.2;
  @include adaptiveValue("font-size", 32, 22);
  color: $fontMainGreen;
}
.location-contacts {
  max-width: toRem(855);
  @include adaptiveValue("padding-right", 10, 2);
  @include adaptiveValue("gap", 90, 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $fontColorDark;

  @media (max-width: toEm(555)) {
    gap: 10px;
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: toEm(377)) {
    padding-left: toRem(5);
  }
  &.scrolled-text {
    color: $fontColorWhite;
  }
}
.location,
.contact {
  @include adaptiveValue("padding-left", 10, 2);
  position: relative;
  line-height: 1.5;
  @include adaptiveValue("font-size", 24, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.location span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: toRem(10);
  transition: all 0.3s;
  flex-shrink: 0;
  &::before {
    content: "";
    @include adaptiveValue("width", 20, 11);
    @include adaptiveValue("height", 25, 13);
    background-image: url(@assets/icons/location-green.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
  }
  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
      transition: all 0.4s;
    }
  }
}
.contact span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: toRem(10);
  transition: all 0.3s;
  flex-shrink: 0;
  &::before {
    content: "";
    left: 0;
    @include adaptiveValue("width", 22, 12);
    @include adaptiveValue("height", 27, 15);
    background-image: url(@assets/icons/phone.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
  }

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s;
    }
  }
}
.btn-burger-menu {
  @include adaptiveValue("width", 40, 20);
}
::ng-deep .btn-burger-menu .pi {
  @include adaptiveValue("font-size", 48, 20);
}
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 98;
  backdrop-filter: blur(2px);
}
.wrapper-burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  width: 50%;
  height: 100vh;
  background-color: $bgDark;
  z-index: 99;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);

  @media (max-width: toEm(1070.98)) {
    width: 70%;
  }
  @media (max-width: toEm(726.98)) {
    width: 100%;
  }
}
.white-text {
  color: $fontColorWhite;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: toRem(10);

  &__top-wrapper {
    width: 100%;
    gap: toRem(10);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include adaptiveValue("font-size", 28, 20);
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: toRem(2);
    color: $fontMainGreen;
  }

  &__list {
    margin: 0 auto;
    @include adaptiveValue("font-size", 24, 18);
    display: flex;
    font-weight: 550;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 40, 30);
  }
}
