<header [class.scrolled]="isScrolled" (scroll)="onWindowScroll()" class="header" [class.hidden-header]="menuOpen">
  <h3 class="logo-title">BERDO</h3>
  <ng-template #contacts let-className="className">
    <div class="location-contacts" [ngClass]="[className, isScrolled ? 'scrolled-text' : '']">
      <a class="location" href="https://g.co/kgs/RYsGSa">
        <span>{{ "header.location" | translate }}</span>
      </a>
      <a class="contact" href="tel:380960861515">
        <span>+38 096 086 15 15</span>
      </a>
    </div>
  </ng-template>
  <ng-container *ngTemplateOutlet="contacts; context: { className: 'dark-text' }"></ng-container>

  <p-button class="btn-burger-menu" (click)="toggleMenu()" icon="pi-mobile pi pi-bars"></p-button>
  <div class="backdrop" *ngIf="menuOpen" (click)="closeMenu()" @fadeInOut></div>
<!-- burger-menu -->
  <div class="wrapper-burger-menu burger-menu" *ngIf="menuOpen" @slideInOutRightToLeft>
    <div class="burger-menu__top-wrapper" @fadeInOut>
      <h4 class="burger-menu__title">BERDO</h4>
      <div class="flex justify-center flex-wrap gap-4">
        <p-button @fadeInOut icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"
          (click)="closeMenu()" />
      </div>
    </div>

    <nav class="burger-menu" aria-label="Main navigation">
      <ul class="burger-menu__list" @fadeInOut>
        <li *ngFor="let id of sectionsService.sectionIds" class="burger-menu__item">
          <a (click)="scrollTo(id)">{{ ('sections.' + id) | translate }}</a>
        </li>
      </ul>
    </nav>

    <ng-container *ngTemplateOutlet="contacts; context: { className: 'white-text' }"></ng-container>
  </div>
</header>
