<section class="privacy-policy">
  <div class="privacy-policy__container">
    <h1 class="privacy-policy__title">{{ 'privacy.title' | translate }}</h1>

    <p class="privacy-policy__text">{{ 'privacy.intro' | translate }}</p>

    <p class="privacy-policy__text">{{ 'privacy.no-data' | translate }}</p>

    <p class="privacy-policy__text">{{ 'privacy.contact-info' | translate }}</p>

    <div class="privacy-policy__rights">
      <h2 class="privacy-policy__subtitle">{{ 'privacy.user-rights-title' | translate }}</h2>
      <ul class="privacy-policy__list">
        <li>{{ 'privacy.user-rights.know' | translate }}</li>
        <li>{{ 'privacy.user-rights.correct' | translate }}</li>
        <li>{{ 'privacy.user-rights.withdraw' | translate }}</li>
        <li>{{ 'privacy.user-rights.complain' | translate }}</li>
      </ul>
    </div>

    <p class="privacy-policy__text">
      {{ 'privacy.update-info' | translate }}
      <a href="mailto:berdo@ukr.com" class="privacy-policy__email">berdo&#64;ukr.com</a>
    </p>
  </div>
  <a (click)="goBackToSection()" class="privacy__back-link">{{ 'common.back-to-home' | translate }}</a>
</section>
