<p>Політика конфіденційності

  Ми не збираємо, не зберігаємо та не обробляємо жодної особистої інформації користувачів нашого сайту.

  Ми не використовуємо файли cookie, аналітичні інструменти чи інші технології для відстеження відвідувачів.

  Якщо ви зв'яжетеся з нами через надані контактні засоби, ваша інформація буде використана виключно для відповіді на ваш запит і не буде передана третім особам.

  Ми залишаємо за собою право оновлювати цю політику конфіденційності. Усі зміни будуть опубліковані на цій сторінці.

  Якщо у вас є запитання щодо цієї політики, будь ласка, зв'яжіться з нами за адресою: email.</p>
