<section id="tours" class="tracks-carrousel">
  <div class="tracks-carrousel__wrapper">
    <div class="tracks-carrousel__container container-tracks-carrousel">
      <div class="container-tracks-carrousel__wrapper">
        <div class="container-tracks-carrousel__slider">

          <ng-container *ngFor="let card of cardsRoute; let i = index">
            <input type="radio" name="slider" [id]="'s' + (i + 1)" [checked]="i === 0" />
          </ng-container>

          <div class="cards">
            <ng-container *ngFor="let card of cardsRoute; let i = index">
              <label [for]="'s' + (i + 1)" [id]="'slider' + (i + 1)" [ngClass]="getCardPosition(i)">

                <div class="card card-container">
                  <div class="card-container__level-title-list">
                    <div class="card-container__level-wrapper">
                      <h3 class="card-container__level">{{ card.level | translate }}</h3>
                      <!-- dots -->
                      <ng-container *ngIf="i < 4">
                        <div class="level-dots">
                          <span *ngFor="let dot of [1,2,3,4]; let j = index" class="dot"
                            [class.active]="j < i + 1"></span>
                        </div>
                      </ng-container>
                    </div>

                    <div class="card-container__title-wrapper" (click)="toggleList(i)" [attr.data-open]="openStates[i]">
                      <h2 class="card-container__title">{{ card.title | translate }}</h2>
                    </div>

                    <ul [@fadeExpand]="openStates[i] ? 'open' : 'closed'" class="card-container__list" [class.hidden]="!openStates[i]"
                      [attr.aria-expanded]="openStates[i]">
                      <li class="card-container__item" *ngFor="let point of card.points">{{ point | translate }}</li>
                    </ul>
                  </div>

                  <div class="card-container__description-price">
                    <p class="card-container__description">{{ card.description | translate }}</p>
                    <strong class="card-container__price">{{ card.price | translate }}</strong>
                  </div>

                  <div class="card-container__video-block">
                    <video
                      #carouselVideo
                      *ngIf="activeSlideIndex === i"
                      [@fadeInOut]
                      class="card-container__video"
                      autoplay muted loop playsinline preload="none"
                      aria-label="Відео з ендуро поїздкою в Карпатах, на мотоциклах та квадроциклах"
                    >
                      <source [src]="card.videoUrl" type="video/mp4" />
                    </video>
                  </div>

                  <div [attr.data-price]="card.price | translate" class="card-container__wrapper-booking-trip">
                    <app-booking-trip labelKey="btn-book-place" class="card-container__booking-trip"></app-booking-trip>
                  </div>

                </div>
              </label>
            </ng-container>
          </div>

          <div class="tracks-carrousel__dots">
            <ng-container *ngFor="let card of cardsRoute; let i = index">
              <label [for]="'s' + (i + 1)" [class.active]="i === activeSlideIndex" (click)="goToSlide(i)"></label>
            </ng-container>
          </div>

          <div class="tracks-carrousel__arrow-prev" (click)="goToPreviousSlide()"></div>
          <div class="tracks-carrousel__arrow-next" (click)="goToNextSlide()"></div>

        </div>
      </div>
    </div>
  </div>
</section>
