::ng-deep .btn-burger-menu button {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 100%;
}
::ng-deep .btn-burger-menu .pi {

  border: 0;
  border-radius: 0;
  color: $fontMainGreen;
}
