@import "main";

:host {
  display: block;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  font-family: $helveticaNeueCyr;
  min-height: 100%;
  overflow: hidden;
}
.app-header {
  width: 100%;
}
/* #region main */
.wrapper-main {
  position: relative;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  overflow: hidden;
}
.main-screen {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  @media (max-width: 550px) {
    height: auto;
    min-height: 100vh;
  }

  &__gradient {
    z-index: 1;
    width: 100%;
    position: absolute;
    max-height: toRem(635);
    min-height: toRem(345);
    bottom: -2%;
    left: 0;
    background: linear-gradient(360deg, $bgDark 3%, rgba(84, 62, 26, 0) 100%);

    @media (max-width: toEm(524)) {
      background: linear-gradient(
        360deg,
        $bgDark 50%,
        rgba(84, 100, 59, 0) 100%
      );
    }
  }
  &__container {
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    text-align: center;
    @include adaptiveValue("gap", 150, 80);

    @media (max-width: toEm(550)) {
      align-items: flex-end;
    }
    @media (max-width: toEm(524)) {
      bottom: 2%;
    }
  }
  &__title {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: -3%;
    @include adaptiveValue("font-size", 120, 58);
  }
  &__video {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    z-index: 1;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;

    &.video-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      height: 0;
    }
  }
}
.slide-right {
  font-weight: 550;
  max-width: toRem(550);
  @media (max-width: toEm(897)) {
    max-width: 100%;
    width: 100%;
  }
}
.slide-left,
.slide-right,
.slide-up {
  will-change: transform;
}
.main-screen__text {
  width: 100%;
  @include adaptiveValue("font-size", 28, 18);
  line-height: 1.2;
  text-align: left;

  @media (max-width: toEm(897)) {
    text-align: right;
  }

  @media (max-width: toEm(550)) {
    text-align: left;
  }
}
.wrapper-title {
  overflow: hidden;
  max-width: toRem(930);
  gap: toRem(10);

  @media (max-width: toEm(897)) {
    width: 100%;
  }
}
.container-main {
  &__top {
    padding-inline: 5%;
    @include adaptiveValue("gap", 100, 1);

    @media (max-width: toEm(1100)) {
      padding-inline: 1%;
    }
    @media (max-width: toEm(897)) {
      flex-wrap: wrap;
    }
    @media (max-width: toEm(1100)) {
      padding-inline: 1%;
    }
  }
  &__top,
  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: toRem(1550);
  }
  &__bottom {
    @include adaptiveValue("gap", 820, 2);
  }
}
.bottom-block-main-screen {
  padding-inline: toRem(15);
  position: relative;
  z-index: 13;
  // overflow: hidden;

  @media (max-width: toEm(550)) {
    flex-direction: column-reverse;
    @include adaptiveValue("gap", 30, 20);
  }

  &__left {
    max-width: toRem(300);
    line-height: 1.4;
    font-weight: 550;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    // hyphens: auto;
    @include adaptiveValue("font-size", 24, 18);
  }
  &__call {
    width: toRem(70);
    height: toRem(70);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }
}
/* #endregion main */
/* #region content-for-parallax */
.content-for-parallax {
  margin-top: 0;
  position: relative;
  z-index: 3;

  &__wrapper {
    position: relative;
    z-index: 2;
    background-color: $bgDark;
    @include adaptiveValue("padding-top", 60, 10);
    &::before {
      content: "";
      position: absolute;
      top: 14%;
      left: 70%;
      z-index: -2;
      display: block;
      width: 80vh;
      height: 63%;
      background: $bgGradient;
      filter: blur(80px);
      pointer-events: none;
      opacity: 0;
      transform: rotate(-39deg);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 10%;
      left: -37%;
      z-index: -1;
      display: block;
      width: 80vh;
      height: 23%;
      background: $bgGradientSkyBlue;
      filter: blur(80px);
      pointer-events: none;
      opacity: 0;
      transform: translateX(-50%) rotate(-164deg);
    }

    @media (max-width: toEm(970.98)) {
      // overflow: hidden;
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
      }
    }
  }

  &__content {
    max-width: toRem(1740);
    margin: 0 auto;
    @include adaptiveValue("padding-top", 10, 2);
    padding-inline: toRem(10);
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: toRem(1100);
    @media (max-width: toEm(970.98)) {
      gap: toRem(5);
      @include adaptiveValue("margin-top", 50, 20);
    }
  }

  &__title {
    font-weight: 550;
    text-transform: uppercase;
    line-height: 0.95;
    @include adaptiveValue("font-size", 58, 24);
  }

  &__advantages {
    z-index: 20;
    @include adaptiveValue("margin-top", 160, 140);

    @media (max-width: toEm(970.98)) {
      @include adaptiveValue("margin-top", 200, 80);
    }
    @media (max-width: toEm(942.98)) {
      @include adaptiveValue("margin-top", 250, 120);
    }
    @media (max-width: toEm(753.98)) {
      @include adaptiveValue("margin-top", 250, 160);
    }

    @media (max-width: toEm(553.98)) {
      @include adaptiveValue("margin-top", 200, 190);
    }
    @media (max-width: toEm(503.98)) {
      @include adaptiveValue("margin-top", 200, 170);
    }
    @media (max-width: toEm(453.98)) {
      @include adaptiveValue("margin-top", 200, 150);
    }
    @media (max-width: toEm(383.98)) {
      @include adaptiveValue("margin-top", 200, 120);
    }
  }
}

.title-2row {
  text-align: right;
  @include adaptiveValue("font-size", 58, 22);
  white-space: nowrap;
}
/* #endregion content-for-parallax */
/* #region advantages */
// animation
.pre-animation {
  .advantages__content-block {
    opacity: 0;
    transform: translateY(toRem(-30));
  }
}

.advantages {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include adaptiveValue("gap", 40, 16);
  width: 100%;
  z-index: 13;
  height: toRem(380);

  @media (max-width: toEm(970.98)) {
    flex-direction: column;
    height: 100%;
    @include adaptiveValue("gap", 300, 100);
  }
  @media (max-width: toEm(870.98)) {
    @include adaptiveValue("gap", 300, 150);
  }

  &__content-block {
    border: 1px solid $fontColorWhite;
    max-width: toRem(490);
    @include adaptiveValue("padding-inline", 30, 10);
    @include adaptiveValue("padding-bottom", 22, 15);
    @include adaptiveValue("height", 380, 268);
  }

  &__card {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    max-width: toRem(490);
    @include adaptiveValue("gap", 15, 10);
    @media (max-width: toEm(1900.98)) {
      @include adaptiveValue("gap", 35, 20);
    }
    @media (max-width: toEm(1458.98)) {
      @include adaptiveValue("gap", 15, 10);
    }
  }
  &__image-wrapper {
    position: relative;
    aspect-ratio: 415 / 247;

    img {
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: toRem(970.98)) {
        top: -5%;
      }
    }
  }
  .content-block-center-wrapper {
    position: absolute;
  }

  .image-center-block {
    aspect-ratio: 415 / 276;

    img {
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: toRem(970.98)) {
        top: -5%;
      }
    }
  }
  // .advantages__title

  &__title {
    max-width: toRem(400);
    max-height: toRem(72);
    min-height: toRem(50);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    @include adaptiveValue("font-size", 30, 8);
    flex-shrink: 0;
    white-space: normal;

    @media (max-width: toEm(970.98)) {
      max-width: toRem(340);
      @include adaptiveValue("font-size", 30, 18);
    }
  }

  // .advantages__description

  &__description {
    line-height: 1.4;
    @include adaptiveValue("font-size", 24, 16);
  }

  &__content-block--center {
    position: relative;
    left: 0;
    top: 33%;
    z-index: 14;
    color: $fontColorDark;
    background-color: $bgWhite;

    @media (max-width: toEm(1655)) {
      top: 29%;
    }
    @media (max-width: toEm(1395)) {
      top: 25%;
    }
  }

  &__content-block--right {
    @media (max-width: toEm(970.98)) {
      border-bottom: 0;
    }
  }
}
/* #endregion advantages */
/* #region location */
.location {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: toRem(751);
  background-image: url(@assets/images/locations/location.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // z-index: 11;
  padding-inline: toRem(15);
  @include adaptiveValue("padding-block", 133, 50);

  @media (max-width: toEm(1465)) {
    background-position: right;
  }
  @media (max-width: toEm(494.98)) {
    padding-block: 0;
  }

  // .location__wrapper

  &__wrapper {
    height: 100%;
    z-index: 13;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @include adaptiveValue("gap", 200, 3);
    max-width: toRem(1670);
    margin: 0 auto;

    @media (max-width: toEm(1655)) {
      gap: toRem(275);
    }
    @media (max-width: toEm(1175)) {
      gap: toRem(255);
    }
    @media (max-width: toEm(455)) {
      gap: toRem(285);
    }
    @media (max-width: toEm(414)) {
      gap: toRem(190);
    }
  }

  &__gradient {
    z-index: 12;
    width: 100%;
    position: absolute;
    max-height: toRem(635);
    min-height: toRem(197);
    bottom: -2%;
    left: 0;
    background: linear-gradient(360deg, $bgDark 3%, rgba(84, 62, 26, 0) 100%);
  }
  &__title-wrapper,
  &__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(5);
    max-width: 100%;
    z-index: 14;
  }
  &__title-1-row {
    @include adaptiveValue("margin-top", 50, 5);
  }
  &__title-1-row,
  &__title-2-row,
  &__title-3-row,
  &__description-1-row,
  &__description-2-row,
  &__description-3-row,
  &__description-4-row {
    max-width: toRem(1365);
    width: 100%;
    font-weight: 550;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 58, 24);
    line-height: 0.95;
  }
  &__title-1-row,
  &__title-2-row,
  &__title-3-row {
    color: $fontColorWhite;
    @media (max-width: toEm(1209.98)) {
      color: $fontColorDark;
    }
  }
  &__title-1-row {
    white-space: nowrap;
  }
  &__title-2-row,
  &__description-3-row {
    text-align: right;
    @include adaptiveValue("padding-right", 200, 30);
    white-space: nowrap;
  }

  &__description-3-row {
    @include adaptiveValue("padding-right", 200, 100);
    @media (max-width: toEm(798.98)) {
      padding-right: 0;
    }
  }
  &__title-2-row {
    @include adaptiveValue("padding-right", 400, 80);
  }
  &__description-2-row {
    @media (max-width: toEm(1169.99)) {
      @include adaptiveValue("padding-left", 200, 0);
    }
    @media (max-width: toEm(948.98)) {
      padding-left: 0;
    }
    @media (max-width: toEm(433.98)) {
      @include adaptiveValue("font-size", 24, 18);
    }
  }
  &__wrapper-text {
    position: relative;
    padding-top: toRem(15);
    width: 100%;
    @include adaptiveValue("width", 452, 170);
    align-self: flex-end;
    margin-right: toRem(50);
    @include adaptiveValue("margin-left", 50, 22);

    @media (max-width: toEm(592.98)) {
      margin-right: 0;
    }
  }
  &__text {
    @include adaptiveValue("font-size", 20, 12);
    line-height: 1.3;
    width: 100%;
    text-align: justify;
    color: $fontColorWhite;
    background-color: #3a6f10d6;
    font-weight: 500;
    padding: toRem(3);

    @media (max-width: toEm(1575)) {
      font-weight: 500;
    }
    @media (max-width: toEm(1244.98)) {
      color: $fontColorDark;
      background-color: transparent;
    }
  }
  &__description-wrapper {
    align-self: stretch;
  }
  &__link {
    position: absolute;
    content: "";
    left: 60%;
    top: -44%;
    background-image: url("/assets/icons/location-green.svg");
    background-repeat: no-repeat;
    width: toRem(104);
    height: toRem(176);
    transition: all 0.4s;
    @media (max-width: toEm(895.98)) {
      left: 70%;
    }
    @media (max-width: toEm(697.98)) {
      top: 150%;
    }
    @media (max-width: toEm(593.98)) {
      top: 150%;
      left: 50%;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.09);
        transition: all 0.4s;
      }
    }
  }
}
/* #endregion location */
/* #region gallery-photo */
.gallery-photos {
  width: 100%;

  &__wrapper {
    position: relative;
    @include adaptiveValue("margin-block", 100, 88);
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 19%;
      right: -12%;
      z-index: -1;
      display: block;
      width: 66%;
      height: 57%;
      background: $bgGradient;
      filter: blur(120px);
      pointer-events: none;
      transform: rotate(-92deg);
    }
  }

  &__container {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    flex: 1 1 auto;
    max-width: toRem(1930);
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiveValue("gap", 80, 10);
  }
}
.container-gallery-block {
  &__top,
  &__bottom {
    display: flex;
    align-items: end;
    @include adaptiveValue("gap", 120, 4);
    flex-wrap: nowrap;

    @media (max-width: toEm(768.98)) {
      flex-direction: column;
    }
  }
  &__top {
    justify-content: flex-end;
    @include adaptiveValue("padding-left", 200, 0);

    @media (max-width: toEm(768.98)) {
      @include adaptiveValue("gap", 40, 20);
      @include adaptiveValue("padding-right", 100, 10);
      padding-left: 0;
    }
  }
  &__bottom {
    justify-content: flex-start;
    @include adaptiveValue("padding-right", 195, 0);

    @media (max-width: toEm(768.98)) {
      padding-right: 0;
      @include adaptiveValue("gap", 40, 20);
      @include adaptiveValue("padding-left", 100, 10);
    }
  }
}
.top-block-gallery {
  &__left-photo-wrapper {
    aspect-ratio: 1009 / 757;
    min-height: 346;

    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__right-photo-wrapper {
    aspect-ratio: 602/ 451;
    min-height: 346;

    @media (max-width: toEm(768.98)) {
      max-width: toRem(478);
      min-width: toRem(274);
      @include adaptiveValue("padding-left", 120, 80);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      max-width: toRem(602);
      position: absolute;
      right: 0;
      top: -1%;
      height: 5%;
      @include adaptiveValue("font-size", 156, 55);
      text-transform: uppercase;

      @media (max-width: toEm(1645)) {
        @include adaptiveValue("font-size", 146, 55);
      }
      @media (max-width: toEm(1200)) {
        @include adaptiveValue("font-size", 125, 55);
      }
      @media (max-width: toEm(832)) {
        @include adaptiveValue("font-size", 115, 55);
      }
      @media (max-width: toEm(768.98)) {
        @include adaptiveValue("font-size", 155, 78);
        top: -7%;
        right: 5%;
      }
      @media (max-width: toEm(731.98)) {
        top: -7%;
        right: 10%;
      }
      @media (max-width: toEm(513.98)) {
        right: 13%;
      }
      @media (max-width: toEm(457.98)) {
        top: -8%;
        right: 11%;
      }
      @media (max-width: toEm(361.98)) {
        top: -9%;
        right: 10%;
        @include adaptiveValue("font-size", 155, 68);
      }
    }
  }
}
.bottom-block-gallery {
  &__left-photo-wrapper {
    height: 100%;
    min-height: 346;
    aspect-ratio: 1099 / 681;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  &__right-photo-wrapper {
    height: 100%;
    aspect-ratio: 511 / 681;

    @media (max-width: toEm(768.98)) {
      max-width: toRem(478);
      min-width: toRem(274);
      aspect-ratio: 511 / 274;
      @include adaptiveValue("padding-left", 120, 80);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;

      @media (max-width: toEm(768.98)) {
        object-position: 20% 79%;
      }
    }
  }
}
/* #endregion gallery-photo */
/* #region pricing */
.pricing {
  width: 100%;
  height: 100%;
  padding-inline: toRem(10);

  &__wrapper {
    margin: 0 auto;
    @include adaptiveValue("margin-block", 100, 40);
    width: 100%;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 70, 30);
    position: relative;
    z-index: 2;
    background-color: $bgDark;

    &::before {
      content: "";
      position: absolute;
      bottom: -21%;
      left: -19%;
      z-index: -1;
      border-radius: 30%;
      display: block;
      width: 73%;
      height: 80%;
      background: $bgGradientPriceFeedback;
      filter: blur(80px);
      pointer-events: none;
      transform: rotate(90deg);

      @media (max-width: toEm(960.98)) {
        bottom: -10%;
        transform: rotate(-180deg);
        height: 100%;
      }
    }
  }

  // .pricing__title-wrapper

  &__title-wrapper {
    margin: 0 auto;
    max-width: toRem(1178);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: toRem(5);
  }

  // .pricing__title

  &__title {
    width: 100%;
    font-weight: 550;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 78, 24);
    line-height: 0.95;
  }
}

.pricing-title-2row {
  text-align: right;
  @media (max-width: toEm(466.98)) {
    @include adaptiveValue("padding-left", 100, 20);
  }
}
.pricing-title-3row {
  @media (max-width: toEm(371.98)) {
    text-align: right;
  }
}

/* #endregion pricing */
/* #region instructors */
.instructors {
  width: 100%;
  height: 100%;
  @include adaptiveValue("padding-inline", 40, 16);
  z-index: 11;
  position: relative;
  // @media (max-width: toEm(1339.98)) {
  //   padding-left: 0;
  // }

  &__wrapper {
    margin: 0 auto;
    @include adaptiveValue("margin-block", 100, 50);
    width: 100%;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 70, 30);
    position: relative;
    z-index: 2;
  }

  &__title-wrapper {
    margin: 0 auto;
    max-width: toRem(1478);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include adaptiveValue("gap", 7, 5);
  }

  &__title {
    width: 100%;
    font-weight: 550;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 78, 24);
    line-height: 0.95;
  }

  &__instructors-wrapper {
    width: 100%;
    height: 100%;
  }
}
.instructors-title-1row {
  @media (max-width: toEm(1579.98)) {
    max-width: toRem(1182);
    align-self: start;
  }
  @media (max-width: toEm(1234.98)) {
    max-width: toRem(986);
  }
  @media (max-width: toEm(499.98)) {
    max-width: toRem(380);
  }
  @media (max-width: toEm(470.98)) {
    max-width: toRem(334);
  }
  @media (max-width: toEm(421.98)) {
    max-width: toRem(304);
  }
}
.instructors-title-2row {
  text-align: right;
}

.instructors-block {
  width: 100%;
  height: 100%;
  &__cards {
    position: relative;
    max-width: toRem(1920);
    min-height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: toRem(2);

    @media (max-width: toEm(983.98)) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue("gap", 40, 10);
    }
  }
}
.instructor-card-container {
  width: 100%;

  // .instructor-card-container__card

  &__card {
    flex: 1 1 toRem(490);
    max-width: toRem(490);
    min-width: toRem(280);
    position: relative;
    @media (max-width: toEm(983.98)) {
      flex: 1 1 toRem(346);
    }
  }

  // .instructor-card-container__card--first

  &__card--first {
    @include adaptiveValue("margin-right", 140, 0);

    @media (max-width: toEm(1339.98)) {
      @include adaptiveValue("margin-right", 50, 0);
    }
  }
  &__card--second {
    position: relative;
    @include adaptiveValue("margin-right", 90, 50);
    @include adaptiveValue("margin-top", 90, 30);

    @media (max-width: toEm(1339.98)) {
      @include adaptiveValue("margin-right", 30, 0);
    }
  }
  &__wrapper-card {
    position: relative;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    @include adaptiveValue("gap", 70, 30);
  }

  &__name {
    @include adaptiveValue("font-size", 32, 18);
    line-height: 1.2;
    color: $fontColorWhite;
  }

  &__wrapper-img {
    max-width: 100%;
    aspect-ratio: 490 / 669;

    @media (max-width: toEm(983.98)) {
      aspect-ratio: 372 / 346;
    }
    @media (max-width: toEm(513.98)) {
      aspect-ratio: 372 / 346;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__discription-block {
    background-color: $bgDescriptionInstructors;
    @include adaptiveValue("font-size", 24, 18);
    color: $fontColorWhite;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: toEm(1339.98)) {
      hyphens: auto;
    }
  }

  &__expirience {
    height: 100%;
    flex-shrink: 0;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    @include adaptiveValue("padding", 30, 10);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: toRem(10);
    padding-right: toRem(15);

    &::before {
      content: "❯";
      position: absolute;
      right: 5%;
      top: 50%;
      transition: transform 0.3s ease;
      transform: translateY(-50%) rotate(-90deg);
      font-size: toRem(20);
    }

    &.expanded::before {
      transform: translateY(-50%) rotate(90deg);
      transition: transform 0.3s ease;
    }
  }

  &__discription {
    @include adaptiveValue("padding", 20, 10);
    @include adaptiveValue("font-size", 24, 14);
    text-align: justify;
  }
}
/* #endregion instructors */
/* #region reviews */
.reviews {
  width: 100%;
  height: 100%;

  &__wrapper {
    margin: 0 auto;
    position: relative;
    z-index: 11;
    width: 100%;
    height: 100%;
    @include adaptiveValue("margin-block", 100, 50);
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 70, 30);

    &::before {
      content: "";
      position: absolute;
      bottom: -21%;
      right: -19%;
      z-index: -1;
      border-radius: 30%;
      display: block;
      width: 73%;
      height: 80%;
      background: $bgGradientPriceFeedback;
      filter: blur(80px);
      pointer-events: none;
      transform: rotate(90deg);

      @media (max-width: toEm(960.98)) {
        // bottom: -10%;
      }
      @media (max-width: toEm(998.98)) {
        transform: rotate(-180deg);
        height: 100%;
        top: -3%;
      }
    }
  }

  &__title-wrapper {
    margin: 0 auto;
    max-width: toRem(1095);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include adaptiveValue("gap", 7, 5);
  }

  &__title {
    width: 100%;
    font-weight: 550;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 78, 68);
    line-height: 0.95;
    padding-inline: toRem(15);

    @media (max-width: toEm(1110.98)) {
      @include adaptiveValue("font-size", 78, 54);
    }
    @media (max-width: toEm(897.98)) {
      @include adaptiveValue("font-size", 78, 48);
    }
    @media (max-width: toEm(799.98)) {
      @include adaptiveValue("font-size", 78, 38);
    }
    @media (max-width: toEm(686.98)) {
      @include adaptiveValue("font-size", 78, 32);
    }
    @media (max-width: toEm(532.98)) {
      @include adaptiveValue("font-size", 78, 28);
    }
    @media (max-width: toEm(438.98)) {
      @include adaptiveValue("font-size", 78, 24);
    }
  }
}
.reviews-title-1row {
  @media (max-width: toEm(438.98)) {
    align-self: flex-start;
  }
}
.reviews-title-2row {
  text-align: right;
}
/* #endregion reviews */
