@import "main";

.footer {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -47%;
    left: 0;
    z-index: -1;
    display: block;
    width: 103%;
    height: 147%;
    background: $bgGradient;
    filter: blur(80px);
    pointer-events: none;
  }
  &__wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    // @include adaptiveValue("gap", 40, 5);
    gap: toRem(2);
    // @media (max-width: toEm(584.98)) {
    //   @include adaptiveValue("gap", 50, 5);
    // }
  }
}
.top {
  width: 100%;

  &__wrapper {
    @include adaptiveValue("padding", 15, 8);
    max-width: toRem(1550);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    gap: toRem(3);
    @include adaptiveValue("font-size", 24, 16);

    @media (max-width: toEm(584.98)) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto auto;
      gap: toRem(16);
      @include adaptiveValue("row-gap", 180, 170);
      justify-items: center;
    }
    @media (max-width: toEm(489.98)) {
      @include adaptiveValue("row-gap", 170, 110);
    }
    @media (max-width: toEm(375.98)) {
      @include adaptiveValue("row-gap", 170, 85);
    }
    @media (max-width: toEm(335.98)) {
      @include adaptiveValue("row-gap", 170, 75);
    }
  }
}
.container-header-top {
  &__contacts {
    flex-shrink: 0;

    @media (max-width: toEm(584.98)) {
      grid-column: 2 / 2;
      grid-row: 1 / 2;
    }
  }
  &__social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(8);

    @media (max-width: toEm(610)) {
      flex-direction: column;
      gap: toRem(5);
    }

    @media (max-width: toEm(584.98)) {
      flex-direction: row;
      grid-column: 1 / 1;
      grid-row: 1 / 2;
      gap: toRem(25);
    }
  }
  &__instagram,
  &__tiktok {
    @include adaptiveValue("width", 34, 19);
    @include adaptiveValue("height", 34, 19);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__tiktok {
    filter: invert(100);
    background-image: url(@assets/icons/tiktok.svg);
  }
  &__instagram {
    filter: invert(100);
    background-image: url(@assets/icons/instagram.svg);
  }
  &__location {
    @include adaptiveValue("width", 18, 12);
    @include adaptiveValue("height", 25, 12);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(@assets/icons/location.svg);
  }
  &__location,
  &__instagram,
  &__tiktok,
  &__contacts a {
    transition: all 0.3s;
  }
  &__location,
  &__instagram,
  &__tiktok,
  &__contacts a {
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.07);
        transition: all 0.3s;
      }
    }
  }
  &__police {
    text-decoration: underline;
    transition: all 0.3s;

    @media (max-width: toEm(584.98)) {
      grid-column: 2 / 1;
      grid-row: 2 / 2;
    }
    @media (any-hover: hover) {
      &:hover {
        transition: all 0.3s;
        text-decoration: none;
      }
    }
  }
}
.container-header-top__links,
.data-saved,
.container-header-top__contacts {
  display: flex;
  flex-direction: column;
  gap: toRem(5);
  justify-content: space-between;
  @media (max-width: toEm(610)) {
    gap: toRem(3);
  }
}
.data-saved {
  &__info {
    white-space: nowrap;
  }

  @media (max-width: toEm(584.98)) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
}
.footer-logo-grid {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: toRem(1989);
  @include adaptiveValue("height", 460, 60);
  min-height: toRem(60);
  padding: toRem(1) 1rem;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: toEm(1535)) {
    @include adaptiveValue("height", 390, 80);
  }
  @media (max-width: toEm(584.98)) {
    position: absolute;
    top: 21%;
    left: 0;
  }
  @media (max-width: toEm(484.98)) {
    position: absolute;
    top: 23%;
    left: 0;
  }
}
.footer-logo-grid__inner {
  align-self: end;
}
.footer-logo-grid__inner img {
  max-width: 100%;
  height: auto;
  display: block;
}
