<footer id="contact" class="footer">
  <div class="footer__wrapper">
    <div class="footer__top top">
      <div class="top__wrapper container-header-top">
        <div class="container-header-top__contacts">
          <a href="tel:+380978533269">+38 097 853 32 69</a>
          <a href="tel:+380960861515">+38 096 086 15 15</a>
        </div>
        <div class="container-header-top__social-network">
          <a
            target="_blank"
            href="https://instagram.com/moto_prokat_karpaty?igshid=MzRlODBiNWFlZA=="
            class="container-header-top__instagram"
          ></a>
          <a
            target="_blank"
            href="https://www.tiktok.com/@moto_prokat_karpaty?_t=8eOlMtSbUBh"
            class="container-header-top__tiktok"
          ></a>
          <a
            target="_blank"
            href="https://g.co/kgs/RYsGSa"
            class="container-header-top__location"
          ></a>
        </div>
        <div class="container-header-top__police">
          <a class="container-header-top__links" href="">
            <span>{{ 'footer.policy-privacy' | translate }}</span>
            <span>{{ 'footer.policy-policy' | translate }}</span>
          </a>
        </div>
        <div class="container-header-top__data-saved data-saved">
          <div class="data-saved__year">© {{ currentDate | date: 'yyyy' }}</div>
          <div class="data-saved__info"> {{ 'footer.data-saved' | translate }} </div>
        </div>
      </div>

    </div>
    <!-- <div class="footer__bottom container-bottom">
      <span class="container-bottom__logo">BERDO</span>
    </div> -->
    <div class="footer-logo-grid">
      <div class="footer-logo-grid__inner">
        <img src="/src/assets/icons/BERDO.svg" alt="логотип бренду BERDO">
      </div>
    </div>

  </div>
</footer>
