@import "main";

.comfort {
  max-width: toRem(740);
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 40, 20);
  justify-content: center;

  &__title {
    max-width: toRem(571);
    @include adaptiveValue("font-size", 30, 18);
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
  }

  // .comfort__list

  &__list {
  }

  // .comfort__item

  &__item {
  }

  // .comfort__icon

  &__icon {
  }

  // .comfort__label

  &__label {
  }
}
