@import "main";

.table {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
}
.pricing-card {
  @include adaptiveValue("gap", 70, 20);
  &__table-row-1 td,
  &__table-row-2 td,
  &__table-row-3 td {
    height: toRem(70);
    @media (max-width: toEm(1400.98)) {
      height: toRem(38);
    }
    @media (max-width: toEm(1184.98)) {
      height: toRem(22);
    }
  }

  &__table-row-4 td {
    height: toRem(90);
    @media (max-width: toEm(1400.98)) {
      height: toRem(74);
    }
    @media (max-width: toEm(1184.98)) {
      height: toRem(58);
    }
  }
  &__wrapper {
    margin: 0 auto;
    height: 100%;
    position: relative;
    max-width: toRem(1520);
    display: flex;
    @include adaptiveValue("gap", 70, 20);
    @include adaptiveValue("padding-inline", 70, 0);
  }
  &__tablet-title-wrapper {
    width: 100%;
  }
  &__tablet-title {
    @include adaptiveValue("font-size", 32, 14);
    @include adaptiveValue("padding-block", 26, 10);
    padding: 0;
    text-transform: capitalize;

    &.active-tab {
      background-color: $bgButtonActive !important;
    }
  }
  .p-tablist-nav-button {
    display: none;
  }

  &__table-panels-block {
    width: 100%;
  }

  &__panel {
    width: 100%;
  }

  &__table-wrapper {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(toRem(300), 65%) minmax(toRem(200), 35%);
    grid-template-rows: toRem(36) toRem(403) auto;
    @include adaptiveValue("row-gap", 30, 5);
    @include adaptiveValue("column-gap", 70, 20);

    @media (max-width: toEm(960.98)) {
      grid-template-columns: 1fr;
      @include adaptiveValue("row-gap", 30, 15);
      grid-template-rows: toRem(36) auto auto auto;
    }
  }

  &__min-time-wrapper {
    width: 100%;
    grid-column: span 1;
    grid-row: span 1;
    color: $fontColorWhite;
    font-weight: 500;
    @include adaptiveValue("font-size", 30, 18);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(10);

    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 1 / 1;
    }
    @media (max-width: toEm(465.98)) {
      @include adaptiveValue("font-size", 24, 16);
      gap: toRem(2);
    }
  }

  &__min-time {
    @include adaptiveValue("font-size", 30, 12);
  }

  &__table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: 1px solid $bgWhite;
    grid-column: span 1;
    grid-row: 2 / span 1;

    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 2 / 2;
    }
  }

  &__table-title-block {
    background-color: $bgButtonGrayDefolt;
    @include adaptiveValue("font-size", 24, 16);
    font-weight: 550;
    line-height: 1.2;
    width: 100%;
    color: $fontColorDark;

    @media (max-width: toEm(465.98)) {
      @include adaptiveValue("font-size", 20, 16);
    }
  }
  &__tbody {
    @include adaptiveValue("font-size", 24, 16);
    color: $fontColorWhite;
    line-height: 1.2;
  }
  &__table-title-1,
  &__table-title-2,
  &__table-title-3 {
    @include adaptiveValue("padding-top", 11, 7);
    @include adaptiveValue("padding-bottom", 9, 5);
  }
  &__table-title-1,
  &__table-text-row-1-1,
  &__table-text-row-2-1,
  &__table-text-row-3-1,
  &__table-text-row-4-1 {
    max-width: toRem(159);
    border-right: 1px solid $bgWhite;
    text-align: left;
    @include adaptiveValue("padding-left", 40, 7);

    @media (max-width: toEm(395.98)) {
      max-width: toRem(60);
    }
  }
  &__table-title-2,
  &__table-text-row-1-2,
  &__table-text-row-2-2,
  &__table-text-row-3-2,
  &__table-text-row-4-2 {
    border-right: 1px solid $bgWhite;
    background: $bgForTablet;
    @media (max-width: toEm(456.98)) {
      width: toRem(108);
    }
  }
  &__table-title-3,
  &__table-text-row-1-3,
  &__table-text-row-2-3,
  &__table-text-row-3-3,
  &__table-text-row-4-3 {
    @media (max-width: toEm(456.98)) {
      max-width: toRem(92);
    }
  }

  &__table-title-2 {
    max-width: toRem(245);
  }

  &__table-title-3 {
    max-width: toRem(245);
  }

  &__table-text-row-4-1 {
    span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      @include adaptiveValue("font-size", 18, 12);
    }
  }

  &__table-row-1,
  &__table-row-2,
  &__table-row-3,
  &__table-row-4 {
    max-height: toRem(35);
    @media (max-width: toEm(960.98)) {
      height: toRem(58);
    }
    @media (max-width: toEm(546.98)) {
      height: toRem(40);
    }
    @media (max-width: toEm(395.98)) {
      height: toRem(54);
    }
  }

  &__comfort-included {
    height: max-content;
    grid-column: span 1;
    grid-row: 3 / span 1;
    @include adaptiveValue("margin-top", 40, 15);
    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 3 / 3;
    }
  }

  &__wrapper-img {
    grid-column: 2 / 2;
    grid-row: span 3;
    aspect-ratio: 511 / auto;

    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 4 / 4;
      aspect-ratio: 375 / 245;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__booking-adventure {
    position: absolute;
    right: 5%;
    bottom: 2%;
  }
}
.table-wrapper-atv {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(toRem(300), 65%) minmax(toRem(200), 35%);
  grid-template-rows: toRem(70) toRem(403);
  @include adaptiveValue("row-gap", 30, 5);
  @include adaptiveValue("column-gap", 70, 20);

  @media (max-width: toEm(960.98)) {
    grid-template-columns: 1fr;
    @include adaptiveValue("row-gap", 30, 15);
    grid-template-rows: toRem(36) auto auto auto;
  }
  @media (max-width: toEm(440.98)) {
    grid-template-rows: toRem(50) toRem(403);
  }

  &__min-time-wrapper {
    width: 100%;
    grid-column: span 1;
    grid-row: span 1;
    color: $fontColorWhite;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(10);

    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 1 / 1;
    }
    @media (max-width: toEm(440.98)) {
      flex-direction: column;
    }
  }
  &__min-time {
    @media (max-width: toEm(440.98)) {
      align-self: flex-end;
    }
  }
  &__min-time-riding {
    @media (max-width: toEm(440.98)) {
      align-self: flex-start;
    }
  }
  &__min-time,
  &__min-time-riding {
    white-space: nowrap;
    @include adaptiveValue("font-size", 30, 16);
  }

  &__comfort-included {
    height: max-content;
    grid-column: span 1;
    grid-row: 2 / span 1;
    @include adaptiveValue("margin-top", 40, 15);

    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 2 / 3;
    }
  }
  &__wrapper-img {
    grid-column: 2 / 2;
    grid-row: span 2;
    aspect-ratio: 511 / 500;
    max-width: 100%;
    @media (max-width: toEm(1341.98)) {
      aspect-ratio: 511 / 600;
    }
    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 3 / 4;
      aspect-ratio: 311 / 150;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__booking-adventure {
    position: absolute;
    right: 8%;
    top: 60%;
    @media (max-width: toEm(1092.98)) {
      top: 55%;
    }
    @media (max-width: toEm(998.98)) {
      top: 50%;
    }
    @media (max-width: toEm(960.98)) {
      top: 80%;
    }
    @media (max-width: toEm(564.98)) {
      top: 77%;
    }
    @media (max-width: toEm(534.98)) {
      top: 79%;
    }
    @media (max-width: toEm(515.98)) {
      top: 82%;
    }
    @media (max-width: toEm(439.98)) {
      top: 84%;
    }
  }
}

.extra-services {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(toRem(300), 65%) minmax(toRem(200), 35%);
  grid-template-rows: toRem(36) toRem(403) auto;
  @include adaptiveValue("row-gap", 30, 5);
  @include adaptiveValue("column-gap", 70, 20);

  @media (max-width: toEm(960.98)) {
    grid-template-columns: 1fr;
    grid-template-rows: toRem(36) auto auto auto;
    @include adaptiveValue("row-gap", 30, 15);
  }

  &__min-time-wrapper {
    grid-column: span 1;
    grid-row: span 1;
    color: $fontColorWhite;
    font-weight: 500;
    @include adaptiveValue("font-size", 30, 18);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(10);
    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 1 / 2;
    }
  }

  &__extra-services-table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: 1px solid $bgWhite;
    grid-column: span 1;
    grid-row: 2 / span 1;
    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 2 / 3;
    }
  }

  &__row-1 {
    @include adaptiveValue("font-size", 24, 16);
    color: $fontColorWhite;
    line-height: 2.1;
    text-align: left;
  }
  &__row-1:nth-child(even) {
    background: $bgForTablet;
  }
  &__column-title {
    padding-inline: toRem(5);
    max-width: toRem(200);
    @media (max-width: toEm(426.98)) {
      max-width: toRem(152);
    }
    @media (max-width: toEm(336.98)) {
      max-width: toRem(144);
    }
  }
  &__column-price {
    border-left: toRem(1) solid $bgWhite;
    padding-inline: toRem(5);
    max-width: toRem(68);
    text-align: center;
  }

  &__comfort-included {
    height: max-content;
    grid-column: span 1;
    grid-row: 3 / span 1;
    @include adaptiveValue("margin-top", 40, 15);
    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 3 / 4;
    }
  }

  &__wrapper-img {
    grid-column: 2 / 2;
    grid-row: span 3;
    aspect-ratio: 511 / auto;
    @media (max-width: toEm(960.98)) {
      grid-column: 1;
      grid-row: 4 / 5;
      aspect-ratio: 311 / 250;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: toEm(960.98)) {
        object-position: top;
      }
    }
  }

  &__booking-adventure {
    position: absolute;
    right: 5%;
    bottom: 2%;
  }
}
