<div class="reviews">
  <div class="reviews__wrapper">
    <div class="reviews__container">
      <div class="reviews__custom-carousel">
        <div class="reviews__carousel-window">
          <div
            class="reviews__carousel-item"
            *ngIf="currentReview"
            @fadeInCard
          >
            <div class="reviews__card">
              <div class="reviews__img-wrapper">
                <img [src]="currentReview.image" />
              </div>
              <div class="reviews__wrapper-content">
                <div class="reviews__author-wrapper">
                  <div class="reviews__title-instagram-link-wrapper">
                  <h3 class="reviews__title">{{ currentReview.nameKey | translate }}</h3>
                  <a class="reviews__instagram-link" [href]="currentReview.instagram" target="_blank">instagram</a>
                </div>
                <a class="reviews__link-google-reviews" href="https://surl.li/hvhedr">{{'reviews.allreviews' | translate}}</a>
                </div>
                <p class="reviews__text">{{ currentReview.textKey | translate }}</p>
                <div class="reviews__btn-wrapper">
                  <button (click)="prev()" class="reviews__arrow up"><span></span></button>
                  <button (click)="next()" class="reviews__arrow down"><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
