@import "main";

.reviews {
  width: 100%;
  height: 100%;

  &__wrapper {
    max-width: toRem(1720);
    min-height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: toEm(998.98)) {
      @include adaptiveValue("margin-inline", 100, 10);
    }
  }

  &__card {
    width: 100%;
    display: flex;
    min-height: 100%;
    flex: 1 1 auto;
    height: 100%;
    align-items: stretch;
    @include adaptiveValue("gap", 160, 15);

    @media (max-width: toEm(1243.98)) {
      @include adaptiveValue("gap", 60, 15);
    }
    @media (max-width: toEm(998.98)) {
      flex-direction: column-reverse;
      @include adaptiveValue("gap", 20, 10);
    }
  }

  &__wrapper-content {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("gap", 40, 15);
    flex-direction: column;
    margin-right: 3%;

    @media (max-width: toEm(998.98)) {
      margin-right: 0;
      margin: 0 auto;
    }
  }
  &__container {
    width: 100%;
  }

  &__img-wrapper {
    max-width: 100%;
    aspect-ratio: 1040 / 700;

    @media (max-width: toEm(1656.98)) {
      aspect-ratio: 860 / 600;
    }
    @media (max-width: toEm(1566.98)) {
      aspect-ratio: 840 / 600;
    }
    @media (max-width: toEm(1509.98)) {
      aspect-ratio: 800 / 650;
    }
    @media (max-width: toEm(1375.98)) {
      aspect-ratio: 700 / 670;
    }
    @media (max-width: toEm(1208.98)) {
      aspect-ratio: 690 / 665;
    }
    @media (max-width: toEm(998.98)) {
      aspect-ratio: 350 / 200;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author-wrapper {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    @include adaptiveValue("font-size", 30, 18);
    line-height: 1.2;
  }

  &__text {
    height: toRem(475);
    @include adaptiveValue("font-size", 22, 14);
    line-height: 1.4;
    text-align: justify;
    flex-grow: 1;
    display: flex;
    align-items: center;

    @media (max-width: toEm(998.98)) {
      height: toRem(280);
      @include adaptiveValue("font-size", 22, 18);
      line-height: 1.5;
    }
    @media (max-width: toEm(835.98)) {
      height: toRem(300);
    }
    @media (max-width: toEm(757.98)) {
      height: toRem(330);
    }
    @media (max-width: toEm(696.98)) {
      height: toRem(330);
      @include adaptiveValue("font-size", 22, 16);
      line-height: 1.6;
    }
    @media (max-width: toEm(635.98)) {
      height: toRem(340);
      @include adaptiveValue("font-size", 22, 16);
      line-height: 1.6;
    }
    @media (max-width: toEm(564.98)) {
      height: toRem(360);
      @include adaptiveValue("font-size", 22, 16);
      line-height: 1.6;
    }
    @media (max-width: toEm(537.98)) {
      height: toRem(385);
      @include adaptiveValue("font-size", 22, 16);
      line-height: 1.4;
    }
    @media (max-width: toEm(430.98)) {
      line-height: 1.2;
    }
    @media (max-width: toEm(347.98)) {
      line-height: 1.1;
    }
  }

  &__custom-carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiveValue("gap", 50, 15);
  }
  &__btn-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 50, 15);
  }
  &__arrow {
    position: relative;
    background: none;
    border: 2px solid green;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: green;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
        transition: all 0.4s ease;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: url("src/assets/icons/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      object-fit: cover;
    }
  }
}
.up span {
  transform: translate(-50%, -50%) rotate(180deg);
}

.down span {
  transform: translate(-50%, -50%);
}
.carousel-window {
  overflow: hidden;
  height: toRem(600);
  position: relative;
  width: 100%;
}

.reviews__img-wrapper,
.reviews__wrapper-content {
  flex: 1;
}
.carousel-item {
  height: toRem(600);
  transition: transform 0.5s ease;
}
